<div id="discuss">
  <div class="tabsub_content">
    <div class="dicussion">
      <div class="dicussion_row">
        <img src="assets/images/user.png" class="dicussion_user">
        <p>Start Discussion</p>
      </div>
      <div class="dicussion_row">
        <img src="assets/images/user.png" class="dicussion_user">
        <h5>How To Upload file in AWS</h5>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
          magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
      </div>
      <div class="dicussion_row">
        <img src="images/user.png" class="dicussion_user">
        <h5>How To Upload file in AWS</h5>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
          magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
      </div>
    </div>
  </div>
</div>