<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a routerLink="/auth/login"><img src="assets/images/logo.png" alt="OSAcad" title="OSAcad" class="logo"></a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="col_box">
        <h4 class="reset_hed">check your mail</h4>
        <p>An email with password reset instructions has been sent to your email address</p>
    </div>
</div>