<div class="ourpartners">
    <div class="container-fluid">
      <h2>Our Training Partners</h2>
      <div>
        <img src="assets/images/partlogo1.png" title="Our Training Partners" alt="Training Partners">
        <img src="assets/images/partlogo2.png" title="Our Training Partners" alt="Training Partners">
        <img src="assets/images/partlogo3.png" title="Our Training Partners" alt="Training Partners">
        <img src="assets/images/partlogo4.png" title="Our Training Partners" alt="Training Partners">
      </div>
    </div>
  </div>