<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a routerLink="/auth/login"><img src="assets/images/logo.png" alt="Digital Lync" title="OSAcad" class="logo"></a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="col_box">
        <h4 class="reset_hed">Reset Your Password</h4>
        <form class="resetform" [formGroup]="resetPasswordForm">
            <div class="form-block">
                <input type="password" class="form_col" formControlName="newPassword" placeholder="NEW PASSWORD">
                <p class="text-danger error-text" *ngIf="resetPasswordForm.get('newPassword').hasError('minlength')">
                    Minimum 8 characters is required</p>
            </div>
            <div class="form-block">
                <input type="password" class="form_col" (blur)="comparePasswords()" formControlName="confirmPassword" placeholder="CONFIRM PASSWORD">
                <p class="text-danger error-text" *ngIf="resetPasswordForm.get('confirmPassword').hasError('wrong')">
                    Both Passwords should be same</p>
            </div>
            <div class="text-center"><button class="btn" type="submit" (click)="resetPasswordCTA()">SUBMIT</button></div>
        </form>
    </div>
</div>