<div class="whatlearn">
    <h4>Listen What Other Students say about OsAcad </h4>
    <div class="container">
      <div id="clients" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#clients" data-slide-to="0" class="active"></li>
          <li data-target="#clients" data-slide-to="1"></li>
          <li data-target="#clients" data-slide-to="2"></li>
          <li data-target="#clients" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="whatlearn_row">
              <div class="learnslidecnt">
                <div class="iconimg">
                  <img src="images/zaheeruddin.jpg" alt="ZAHEERUDDIN"> </div>
                <h6>Zaheeruddin </h6>
                <p>DATA SCIENTIST</p>
                <p>I am a Data Scientist having 2+ years of work experience in working with Machine Learning, NLP and Deep Learning
                  only with only Banking Domain. Optimized Solutions gave me a good platform in terms of learning new technologies.
                  Also I am getting good support from superiors to solve complex problems. I am glad to say that Optimized
                  Solutions has given me the Opportunity to work in the Artificial Intelligence domain to perform video Analytics
                  through small computing devices. It is a new challenge to solve as it is using real time analytics and has
                  use cases like dealing with objects Detection, tracking on complex scenarios.
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="whatlearn_row">
              <div class="learnslidecnt">
                <div class="iconimg">
                  <img src="images/satwik.jpg" alt="Prabha"> </div>
                <h6>Satwik </h6>
                <p>R&D engineer</p>
                <p>
                  <strong>"I'm involved in some very challenging projects"</strong>
                  <br> I started my career at Optimized Solutions as a software engineer for a specific product and, over the time,
                  worked my way up to join the R&D division. I have the opportunity to pursue my dream and have the support
                  in my goals, improving my skills, and guidance in my career. I travel with great companions who supported
                  me in learning new technologies and new techniques. I have freedom to express my view and thoughts of ideas
                  for development. I have done few prototypes on smart cities and was also given an opportunity to be a mentor
                  for new employees. I developed my skills in programming languages like “Java,C++, Python” and in BigData
                  technologies. The company gives opportunities to express new ideas with technology and implement the same,
                  which results in the form of great technological advances and challenging projects. It is a privilege to
                  work for Optimized Solutions and I am grateful to work with the team.
                  <br> Special thanks to “Sam Reddy Founder | CEO, Chairman & Managing Director” he takes out the diamonds from
                  stones and polishes to make them shine, and thanks to “Anil Naik | Chief Technology Officer” he is a maestro
                  of technologies, he is one behind every success of the team, and thanks to “Deepak Balaji” for supporting
                  the team and sharing his knowledge.
                  <br> Team in Boston:
                </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="whatlearn_row">
              <div class="learnslidecnt">
                <div class="iconimg">
                  <img src="images/pavan.jpg" alt="Krish"> </div>
                <h6>Pavan </h6>
                <p>Software engineer</p>
                <p>I am a software engineer for the Research and Development arm of Optimized Solutions. I work independently
                  and with a team on a variety of projects including, but not limited to a LIDAR, RFID technologies, various
                  motor as well as research into several areas of Computer Science such as machine learning. Even though each
                  team member has a multitude of projects to work on at any given time, it is rarely an issue as each member
                  is given the necessary latitude to properly research and implement each task as long as certain requirements
                  are met. Furthermore, our supervisor, Anil Naik and the other team members encourage discussion and the asking
                  of questions which is of the utmost importance when cooperating with other individuals in pursuit of a common
                  goal. Thus far, my time spent with this team has been fruitful and I hope to continue learning new technologies
                  and honing my problem-solving skills in the future.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="whatlearn_row">
              <div class="learnslidecnt">
                <div class="iconimg">
                  <img src="images/deepak.jpg" alt="Krish"> </div>
                <h6>Deepak </h6>
                <p>Senior Software Engineer</p>
                <p>Being a part of the Digital Transformation framework team at Optimized Solutions has given me the ability to
                  make every decision and create solutions using a newer dimension of technology, with top-notch development
                  and research ideas and techniques. It has always been fun to explore and work on problems that have critical
                  importance and decisions which can make an exorbitant impact in the technological market. The team has always
                  been friendly, collaborative, helpful, polite, supportive and interested in succeeding together. In particular,
                  working with Anil Naik (R&D Head, CTO of Optimized Solutions, and my mentor) from my day one with the project,
                  has given me an opportunity to learn various cutting edge technologies including Real Time analytics and
                  Big Data technologies. In general, Optimized Solutions believes in investing in each and every member of
                  the team and its results can be seen in the deliverables.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control">
        </a>
        <a class="right carousel-control">
        </a>
      </div>
    </div>
  </div>