<div class="hiringpartner row container-fluid">
  <div class="col-md-12">
    <h3><span>Our</span> Hiring Partners</h3>
  </div>
  <div class="hiringlogos col-md-12 row" style="display: flex;justify-content: center">
    <img src="assets/images/our_p1.jpg" alt="Hiring Partner">
    <img src="assets/images/our_p2.jpg" alt="Hiring Partner">
    <img src="assets/images/our_p3.jpg" alt="Hiring Partner">
    <img src="assets/images/our_p4.jpg" alt="Hiring Partner">
    <img src="assets/images/our_p5.jpg" alt="Hiring Partner">
    <img src="assets/images/our_p6.jpg" alt="Hiring Partner">
    <img src="assets/images/our_p7.jpg" alt="Hiring Partner">
    <img src="assets/images/our_p8.jpg" alt="Hiring Partner">
    <img src="assets/images/our_p9.jpg" alt="Hiring Partner">
  </div>
</div>