.hiringpartner {
  margin: 0;
  padding: 100px 70px; 
  // text-align: left;
.hiringlogos { 
  text-align: center;
  img {
    height: 53px;
  } 
}
  p {
    margin: 0 0 20px; 
    font-size: 18px;
    line-height: initial;
    color: #FFFFFF78;
  }
  h3 { 
    font-size: 30px;
    color: #f85415;
    font-weight: 500;
    margin: 10px 0 50px;
    text-align: center;
    span {
      color: #fff;
    }
  }
}