.col_box{background: #232120 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #44444429; margin:50px auto; width:500px; padding: 50px; }
.reset_hed { text-align: center; text-transform: uppercase; margin: 0 0 20px; font-weight: 600; color: #FFFFFF;}
.col_box p{ text-align: center; color: #797979; font-size: 14px;} 
.resetform{ padding: 50px 0 20px;}
.form_col{ line-height: 40px; width: 100%; margin: 0 0 40px; border: none; border-bottom: 1px solid #626262; outline: none; background-color: #232120; color: #fff;}
.resetform button.btn{background: #F85415 0% 0% no-repeat padding-box; line-height: 40px; border: none; padding: 0 60px; color: #fff; text-transform: uppercase; border-radius:0; font-size: 14px;}
.resetform button.btn:hover{ cursor: pointer;}
.form-block {
    height: 65px;
}
.form-block .error-text{
    font-size: 10px;
    text-align: left;
}