<div class="tabsub_content change-password" [formGroup]="changePasswordForm">
    <div class="row">
        <div class="col-md-6 mt-3">
            <div class="form-field">
                <mat-form-field appearance="fill">
                    <mat-label>Old Password</mat-label>
                    <input type="password" matInput formControlName="password" autocomplete="off" (keypress)="disableWhiteSpace($event)">
                    <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">
                        Old password is required
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('password').hasError('minlength')">
                        Minimum 8 characters 
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('password').hasError('notValid')">
                      Enter valid old Password
                  </mat-error>
                </mat-form-field>
            </div>
            <div class="form-field">
                <mat-form-field appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput formControlName="newPassword" autocomplete="off" (keypress)="disableWhiteSpace($event)">
                    <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">
                        New password is required
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('minlength')">
                        Minimum 8 characters
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-field">
                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput  (blur)="comparePasswords()" formControlName="reenterPassword" autocomplete="off" (keypress)="disableWhiteSpace($event)">
                    <mat-error *ngIf="changePasswordForm.get('reenterPassword').hasError('required')">
                        New password is required
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('reenterPassword').hasError('minlength')">
                        Minimum 8 characters
                    </mat-error>                    
                    <mat-error *ngIf="changePasswordForm.get('reenterPassword').hasError('wrong')">
                        New Password and confirm password should be same
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="rb-button text-center mt-3">
                <button class="register-button" type="submit" (click)=update() [disabled]="changePasswordForm.invalid">SUBMIT</button>
            </div>
        </div>
    </div>
</div>