<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a routerLink="/"><img src="assets/images/logo.png" style="width: 190px;
                    margin-top: 24px;" alt="OSAcad" title="OSAcad" class="logo"></a>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="col_box">
        <h4 class="reset_hed">SERVER ERROR !</h4>
        <p>We're sorry, our systems are currently
            unavailable Please try back later.</p>
    </div>
</div>